
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;

    background: url('../imagenes/fondo.jpg') center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta el último valor (0.8) para la opacidad */
    
}

img {
    max-width: 30%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    
    display: flex;
    align-items: center;
    min-height: auto;
    padding: 100px 0;
}

.menu {
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img_morin{

    border-radius: 50%;
      
}

.menu .navbar ul li {
    position:relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #333128;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 80px;
}

.menu label{
    cursor:pointer;
    display: none;
}



/* Agrega estilos adicionales según sea necesario */


/*filtro*/
.filtro{
    display: none;
}
/*filtro*/

/*  carrito abajo */

/*CarritoCounter*/
.cantidad-carrito {
    margin-top: 23px;
    background-color: rgba(227, 187, 187, 0.7);
    color: white;
    font-size: 11px;
    border-radius: 50%; /* Cambiado a 50% para que sea un círculo */
    width: 20px; /* Ajustado para permitir espacio suficiente para dos dígitos */
    height: 20px;
    margin-left: -18px;
    line-height: 20px; /* Alinea verticalmente el texto en el centro */
    text-align: center; /* Centra el texto horizontalmente */
    display: none;
    pointer-events: none;
}

.ver-carrito{
    cursor: pointer;
    display: flex;
    
}

.modal-section {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 3%;
    width: 25%;
    height: auto;
    background-color: rgba(227, 187, 187, 0.8);
    justify-content: flex-start; /* Alinea hacia arriba */
    align-items: flex-start; /* Alinea a la izquierda */

    max-height: 80%; /* Ajusta la altura máxima según tu diseño */
    overflow-y: auto; /* Agrega el scroll vertical si es necesario */
}

.img-carrito {
    max-width: 60px;
    max-height: 60px;
    width: 60px; /* Establece el mismo valor para width */
    height: 60px; /* Establece el mismo valor para height */
}

.modal-header {
    border-radius: 10%;
    color: #fff;
    width: 100%;
    padding: 5px;
    position: relative;
}

.modal-header-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.delete-product{
    cursor: pointer;
}

.modal-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    width: 90%; /* Puedes ajustar según tu diseño */
}

.servicios-carrito{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* css boton pagar */
.total-content {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    color: #333128;
    font-weight: 600;

}

.botonpagar{
    margin-left: 15px;
        background-color: #ffffff; /* Color blanco */
        color: #333; /* Color de texto */
        border: 2px solid #ccc; /* Borde con color de contraste */
        padding: 10px 20px; /* Relleno interno del botón */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        font-size: 16px; /* Tamaño del texto */
    
    /* Estilo cuando el mouse está sobre el botón */
   
}

.botonpagar:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar por encima */
}

/* Carrito arriba */

#buscador{
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 4;
    outline: none;
    font-size: 1rem;
}

#caja_servicio{
    
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
}

#titulo-servicio{
    text-align: center;
    margin-bottom: 30px;
}
#tit-servicio{
    padding-bottom: 30px;
}


.servicios {
    /* Ajusta estilos según tus preferencias */
    margin-top: 20px;
    margin-bottom: 80px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 10px;
    margin: 10px;
    max-width: 380px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
    overflow: hidden; /* Asegura que las esquinas redondeadas se apliquen correctamente */
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0; /* Aplica esquinas redondeadas solo a la parte superior de la imagen */
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px; /* Ajusta el valor según tus preferencias */
}

/* Agrega estilos adicionales según sea necesario */




/* footer */
.footer {
    padding: 50px 0;
    background-color: #ffffff;
    clear: both;
    
    }

.footer-content {
    display: flex;
    justify-content: space-between;
    }
    
.link h3 {
    color: #000000;
    font-size: 17px;
    margin-bottom: 10px;
    }

.link a{
    color: #181713;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima de la ventana gráfica */
    margin: 0;
}

.container {
    flex: 1;
}

.footer {
    color: white;
    text-align: center;
}

@media (max-width:991px) {
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;

    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #FFFFFF;
    }

    .logo{
        display: none;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        padding: 80px 30px 15px 30px ;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .servicios .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .card{
        width: 80%;
        
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .borrar-todo{
        display: none;
    }

    #caja_servicio{
        justify-content: center;
        display: flex;
        flex-direction: row-reverse;
    }

    .ver-carrito{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 35px;
        
    }


    /*  carrito abajo */

    .modal-section {
        overflow-x: hidden;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: auto;
        background-color: rgba(227, 187, 187, 0.8);
        justify-content: flex-start; /* Alinea hacia arriba */
        align-items: flex-start; /* Alinea a la izquierda */
        max-height: 80%; /* Ajusta la altura máxima según tu diseño */
        overflow-y: auto; /* Agrega el scroll vertical si es necesario */
    }
    
.img-carrito {
    max-width: 60px;
    max-height: 60px;
    width: 60px; /* Establece el mismo valor para width */
    height: 60px; /* Establece el mismo valor para height */
}

.modal-header {
    border-radius: 10%;
    color: #fff;
    width: 100%;
    padding: 5px;
    position: relative;
}

.modal-header-titulo {
    font-size: 28px;
    padding: 20px;
    color: #333128;
    display: block;
    font-weight: 600;
}

.modal-header-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 90%; 
}

.servicios-carrito{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* css boton pagar */
.total-content {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 15px;
    padding: 15px;
    text-align: center;
}

.botonpagar{
        
        margin-right: 17px;
        background-color: #ffffff; /* Color blanco */
        color: #333; /* Color de texto */
        border: 2px solid #ccc; /* Borde con color de contraste */
        padding: 10px 20px; /* Relleno interno del botón */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        font-size: 16px; /* Tamaño del texto */
    
    /* Estilo cuando el mouse está sobre el botón */
   
}

.botonpagar:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar por encima */
}

/* Carrito arriba */

}